.page-body {
    margin: 0;
    margin-top: 400px;
    padding: 0;
    background: red;
    color: blue;
}
.page-nav {
    background: #000;
}
.page-nav__list {
    margin: 0;
    padding: 0;
    letter-spacing: none;
}