<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
        <link rel="stylesheet" href="css/style.css" />
    {% endblock %}

</head>
<body class="page-body">
<header class="page-header">
   {% block header %}
       <a class="page-header__logo" href="#">Logo</a>
       {% include 'page-header.twig' %}
   {%  endblock %}
</header>
<main class="page-main">
    {% block content %}
    {% endblock %}
</main>
<footer class="page-footer">
    {% block footer %}
         &copy; Copytight
    {% endblock %}
</footer>
</body>
</html>