
<nav class="page-header__nav">
    {% block navigation %}

    <ul class="page-header__nav-list">
        <li class="page-header__nav-items">
            <a href="#" class="page-header__nav-links">Главная</a>
        </li>
        <li class="page-header__nav-items">
            <a href="#" class="page-header__nav-links">О нас</a>
        </li>
        <li class="page-header__nav-items">
            <a href="#" class="page-header__nav-links">Галерея</a>
        </li>
        <li class="page-header__nav-items">
            <a href="#" class="page-header__nav-links">Контакты</a>
        </li>
    </ul>

   {% endblock %}
</nav>

<div class="page-header__user-block">
{% block userBlock %}

    <a href="#" class="page-header__user-enter">Вход</a>/
    <a href="#" class="page-header__user-registry">Регистрация</a>

{% endblock %}
</div>
